# Ignorando los archivos de configuración propios de los usuarios


*.user

desktop.ini

Thumbs.db


*.suo
*.ncb


#Ignorando la carpeta de construcción de Visual Studio
Cadenas/Cadenas/Debug/**/*
Cadenas/Debug/**/*


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
